[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    line-too-long,
    too-many-arguments,
    too-many-positional-arguments,
    broad-exception-caught,
    unused-argument,
    wrong-import-order,
    unused-import,
    duplicate-code